*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif; /* Usa Roboto come font principale */
  font-weight: 500;
  font-optical-sizing: auto;
}

/*header nav {
  display: flex;
} */

/* FONT DELL'HEADER */
header {
  font-family: "Spectral", serif;
  /* font-weight: 400; normal */

  background-color: #ffc017;
}

/* FONT TITOLO HEADER */
header h1 {
  font-family: "Spectral", serif;
  font-weight: 700; /* Grassetto */
  font-size: 5em;
}

header nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #191919;
  padding-block: 4px;
}

/* LISTA MENU */
nav ul {
  list-style-type: none;
  padding: 0; /* Rimuove il padding predefinito */
  margin: 0; /* Rimuove il margine predefinito */
}

/* BOTTONE */
nav ul li button {
  background-color: #191919;
  color: white;
  border-radius: 25px;
  padding: 10px 20px; /* Spaziatura per il bottone */
}

nav ul li {
  display: inline-block; /* Allinea gli elementi sulla stessa riga */
  margin-right: 20px; /* Aggiunge spazio tra gli elementi */
}

/* SECONDA PARTE DELL'HEADER */
.header2 {
  display: flex;
  justify-content: space-around;
  /* justify-content: space-around; */
  align-items: center;
  border-bottom: 1px solid #191919;
}

.headerSx p {
  font-size: 1.35rem;
  padding-block: 3rem;
}

.headerSx button {
  background-color: #191919;
  color: white;
  border-radius: 25px;
  padding: 10px 20px; /* Spaziatura per il bottone */
}

/* MAIN */
main {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}

.trending {
  padding: 1em;
  padding-inline: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  display: flex;
  margin-block: 1rem;
  /* flex-wrap: wrap; */
}

.h2{
  font-weight: 700; Grassetto
}

.numb {
  color: #747577;
  font-size: 2em;
  font-weight: bold;
  opacity: 0.5;
  padding-inline: 1em;
}

.title {
  display: flex;
  align-items: center;
  padding-bottom: 0.7em;
}

.title img {
  padding-right: 1em;
  width: 40px;
}

.box2{
  display: grid;
}

.date{
  color: #747577;
}

/* ARTICLE - SECONDA PARTE DELLA PAGINA */
.article{
  padding-inline: 50px;
  display: flex;
}
/*COLONNA SINSTRA*/
.artSX{
  max-width: 60%; /*LA COLONNA SINISTRA PRENDE MASSIMO IL 60% DELLA LARGHEZZA*/
}

.box3{
  display: flex;
  padding-block: 1.3em;
}

.post > img{
  border-radius: 50%;
}

.post{
  display: flex;
  align-items: center;
}

.text > h3{
  font-weight: 700;
  font-size: 1.3em;
}

.text > p{
  color: #747577;
}

.grey{
  background-color: #e8e9eb;
  border-radius: 25px;
  border: none;
  color: #747577;
}

.placeholder img{
  max-width: 150px;
  background-size: cover;
 
}

/* .placeholder1{
  background-image: url(../imgs/image08.jpeg);
  width: 300px;
}

.placeholder2{
  background-image: url(../imgs/image10.jpegq);
  background-size: cover;
  max-width: 300px;
} */


/*SECONDA COLONNA DESTRA*/
.artDX{
  max-width: 40%;
  padding-inline: 30px;
}

.artDX p{
  font-weight: bold;
  font-size: 12px;
}

.artDX ul li{
  list-style-type: none;
  padding: 4px 3px;
  color: #747577;
}

.discover{
  display: flex;
  flex-wrap: wrap;
  padding-block: 1.3em;
}

.discover2{
  padding-right: 1px;
}

.discover li button{
  border-radius: 3px;
  color: #747577;
}

.discover li button.grey:hover {
  background-color: #aaa; /* Cambia colore al passaggio del mouse */
}
